#################
## SNOW shifts ##
#################

0 0-5 * * *  		export DISPLAY=:1 && SHELL=/usr/bin/bash && /usr/bin/snow Yuvaraj Balaraju
# Stoping Yuvaraj shift on mondays when Samik starts
0 6 * * 1	  	export DISPLAY=:1 && SHELL=/usr/bin/bash && /usr/bin/snow

# Samiks wants that mondays tickets start gathering at 10 am
0 6-11 * * 2,3,4,5,6,7  	export DISPLAY=:1 && SHELL=/usr/bin/bash && /usr/bin/snow Samik Sanyal
0 10-11 * * 1	  	export DISPLAY=:1 && SHELL=/usr/bin/bash && /usr/bin/snow Samik Sanyal

0 12-17 * * *  		export DISPLAY=:1 && SHELL=/usr/bin/bash && /usr/bin/snow Carlos Arias
0 18-23 * * *  		export DISPLAY=:1 && SHELL=/usr/bin/bash && /usr/bin/snow Wasim Raja

################
## Refresh VM ##
################

0 */3 * * *		export DISPLAY=:1 && SHELL=/usr/bin/bash && /usr/bin/start 180
0 11 * * *  		export DISPLAY=:1 && SHELL=/usr/bin/bash && /usr/bin/ansible-playbook /home/student/rol-lab-persistence/playbooks/operate-lab.yml -e action='create'
