#!/bin/bash

VALID_ARGS=$(getopt -o :t:u:r:h --long team:,user:,region:,help: -- "$@")
if [[ $? -ne 0 ]]; then
    exit 1;
fi

eval set -- "$VALID_ARGS"
while [ : ]; do
  case "$1" in
    -t | --team)
        TEAM=$2
        shift 2
        ;;
    -u | --user)
        USER_NAME=$2
        shift 2
        ;;
    -r | --region)
        REGION=$2
        shift 2
        ;;
    --) shift;
        break
        ;;
    -h)
        echo "Usage: $(basename $0) [-t | --team arg] [-u | --user arg]"
        echo ""
        echo "Introduce the user full name as it appears in SNOW 'Assigned to' field"
        echo "$ snow -t 'RHT Learner Experience - T2' -u 'Carlos arias'"
        exit 1
        ;;


  esac
done

echo "User: " $USER_NAME
echo "Team: " $TEAM
echo "Region: " $REGION


if [[ $TEAM == "RHT Learner Experience" ]]
  then
    TEAM_ACRONIM="LX-T1"
elif [[ $TEAM == "RHT Learner Experience - T2" ]]
  then
    TEAM_ACRONIM="LX-T2"
fi

if [[ $REGION == "" ]]
  then
    /usr/bin/ansible-playbook {{ playbook_dir }}/snow.yml -e user_name="\"$USER_NAME\"" -e team_name="\"$TEAM\"" -e team_acronim="\"$TEAM_ACRONIM\""
    echo ""
    echo "---> Starting selenium script <---"
    /usr/bin/python /app/snow-$TEAM_ACRONIM.py
elif [[ $USER_NAME == "" ]]
  then
    /usr/bin/ansible-playbook {{ playbook_dir }}/snow.yml -e region="\"$REGION\"" -e team_name="\"$TEAM\"" -e team_acronim="\"$TEAM_ACRONIM\""
    echo ""
    echo "---> Starting selenium script <---"
    /usr/bin/python /app/snow-$TEAM_ACRONIM.py
fi



