#!/usr/local/bin/python3
### Maintained by carias@redhat.com
import time, os.path
import re

from selenium import webdriver
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains


options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument("--window-size=1600,1200")
options.add_experimental_option("debuggerAddress", "localhost:9000")
options.add_argument("--user-data-dir={{ ansible_env.HOME}}/.config/google-chrome/jira")

def open_profile():
    os.popen('google-chrome --remote-debugging-port=9000 --user-data-dir="{{ ansible_env.HOME}}/.config/google-chrome/jira" &')


def check_running_session():
    pid = os.popen("ps -ef | grep google-chrome/jira | grep 9000 |grep -v grep| head -n1 | awk {'print $2'}").read()
    if pid: return int(pid)
    else: return 0

def switch_to_iframe():
    driver.switch_to.default_content()
    macroponent = WebDriverWait(driver, 3).until(EC.presence_of_element_located((By.XPATH, '//*[starts-with(local-name(), "macro")]')))
    shadow_root = driver.execute_script('return arguments[0].shadowRoot', macroponent)
    iframe = shadow_root.find_element(By.CSS_SELECTOR, 'iframe#gsft_main')
    WebDriverWait(driver, 3).until(EC.frame_to_be_available_and_switch_to_it(iframe))

def check_cookies():
    try:
        WebDriverWait(driver, 2).until(EC.frame_to_be_available_and_switch_to_it((By.XPATH, '//iframe[@title="TrustArc Cookie Consent Manager"]')))
        accept_cookies()
    except:
        pass

def accept_cookies():
        try:
            WebDriverWait(driver, 3).until(EC.element_to_be_clickable((By.XPATH, "//a[@class='call'][text()='Agree and proceed with standard settings']"))).click()
            driver.refresh()
        except:
            driver.refresh()
            pass

def snow_login(snow_id):
    try:
        driver.get('https://redhat.service-now.com/surl.do?n=' + snow_id + '')
        check_cookies()

        # RH SSO
        WebDriverWait(driver, 5).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="username"]'))).send_keys("{{ username }}")
        WebDriverWait(driver, 5).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="password"]'))).send_keys(str("{{ pin }}").replace('\n', '') + str(os.popen("curl -sL https://sso-rh-login-lx-snow.apps.tools-na100.dev.ole.redhat.com/get_otp").read().replace('\n', '')))
        WebDriverWait(driver, 5).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="submit"]'))).click()
        time.sleep(10)

    except:
        print("An exception occurred while accepting during snow login")

def jira_login():
    try:
        driver.get("https://issues.redhat.com")
        WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/header/nav/div/div[3]/ul/li[3]/a'))).click()
        time.sleep(2)
        check_cookies()
        WebDriverWait(driver, 5).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="username-verification"]'))).send_keys("{{ username }}" + "@redhat.com")
        WebDriverWait(driver, 5).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="login-show-step2"]'))).click()
        WebDriverWait(driver, 5).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="rh-sso-flow"]'))).click()
    except:
        print("An exception occurred while accepting during jira login")

def wait_jira_loaded():
    try:
        WebDriverWait(driver, 3).until(EC.element_to_be_clickable((By.XPATH,'//*[@class="aui-button aui-button-primary aui-style create-issue "]')))
    except:
        WebDriverWait(driver, 3).until(EC.element_to_be_clickable((By.XPATH, '//*[@class="aui-nav-link login-link"]')))


def get_snow_info(snow_id):
    # Close any unfinished jira dialog
    try:
        WebDriverWait(driver, 3).until(EC.element_to_be_clickable((By.XPATH,'//*[@id="create-issue-dialog"]/footer/div/div/button'))).click()
        driver.switch_to.alert.accept()
        driver.switch_to.alert.accept()
    except:
        pass
    driver.get('https://redhat.service-now.com/surl.do?n=' + snow_id + '')

    switch_to_iframe()

    # Get description
    description = driver.find_element("xpath", '//*[@id="sys_original.x_redha_red_hat_tr_x_red_hat_training.description"]').get_attribute('value')

    print(description)
    # Get issue info
    issue = re.search(r"Description:\s*(.*?)\s*Copyright", description, re.DOTALL).group(1).strip()
    course = re.findall("Course:.*", description)[0].split(":  ")[1].upper().replace(" ", "")
    version = re.findall("Version:.*", description)[0].split(":  ")[1]
    url = re.findall("URL:.*", description)[0].split(":  ")[1]
    try:
        chapter = re.findall("ch[0-9][0-9]", url)[0].split("ch")[1]
    except:
        chapter= ""
    try:
        section = re.findall("s[0-9][0-9]", url)[0].split("s")[1]
    except:
        section = ""
    title = re.findall("Section Title:.*", description)[0].split(":  ")[1]
    rhnid = re.findall("User Name:.*", description)[0].split(":  ")[1]

    snow_info = {
        "SNOW_id": snow_id,
        "Description": issue,
        "Course": course,
        "Version": version,
        "URL": url,
        "Chapter": chapter,
        "Section": section,
        "Title": title,
        "RHNID": rhnid,
    }
    print(snow_info)
    return snow_info

def select_dropdown(element, input):
    element.send_keys(Keys.CONTROL + "a")
    element.send_keys(Keys.DELETE)
    element.send_keys(input)
    element.send_keys(Keys.TAB)

def switch_to_tab(tabname):
    WebDriverWait(driver, 5).until(EC.element_to_be_clickable((By.XPATH, f'//ul[@role="tablist"]//li[@class="menu-item first" or @class="menu-item "]//strong[text()="{tabname}"]'))).click()

def create_jira(snow_info):
    driver.get('https://issues.redhat.com/projects/PTL/issues')
    time.sleep(5)

    # Click Create
    WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="create_link"]'))).click()

    # Select Text mode
    WebDriverWait(driver, 15).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="description-wiki-edit"]/nav/div/div/ul/li[2]/button'))).click()

    # Fill in Summary
    WebDriverWait(driver, 15).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="summary"]'))).send_keys(f'{snow_info["Course"]}: ch{snow_info["Chapter"]}s{snow_info["Section"]} -  - {snow_info["SNOW_id"]}')

    # Add Description
    color1 = '{color:#0747a6}'
    color2 = '{color}'
    #rhnid = "{{ username }}@redhat.com"
    description = f"""
        h3. {color1}*Please fill in the following information:*{color2}
    ----
    |*URL:*|[ch{snow_info["Chapter"]}s{snow_info["Section"]} |{snow_info["URL"]}]|
    |*Reporter RHNID:*| {snow_info["RHNID"]} |
    |*Section title:*|{snow_info["Title"]}|
    |*Language*:| English |

    *Issue description*

    {snow_info["Description"]}

    *Steps to reproduce:*

    *Workaround:*

    *Expected result:*"""

    # Add description
    WebDriverWait(driver, 15).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="description"]'))).clear()
    WebDriverWait(driver, 15).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="description"]'))).send_keys(description)

    # Select Visual mode back again
    WebDriverWait(driver, 15).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="description-wiki-edit"]/nav/div/div/ul/li[1]/button'))).click()

    # Change to priority tab and change priority
    switch_to_tab('Priority')
    priority_dropdown = WebDriverWait(driver, 15).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="priority-field"]')))
    select_dropdown(priority_dropdown, "Minor")
    switch_to_tab('Field Tab')

    # Select Component (course)
    WebDriverWait(driver, 15).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="components-textarea"]'))).send_keys(snow_info["Course"])

    # Add chapter and section
    WebDriverWait(driver, 15).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="customfield_12316549"]'))).send_keys(snow_info['Chapter'])

    # Select version
    version = WebDriverWait(driver, 15).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="versions-textarea"]')))
    version.send_keys(Keys.HOME)
    version.send_keys(snow_info["Course"])


# Main
if not check_running_session():
    open_profile()
    driver = webdriver.Chrome(options=options)
    snow_login("{{ snow_id }}")
    snow_info = get_snow_info("{{ snow_id }}")
    jira_login()
    create_jira(snow_info)
else:
    driver = webdriver.Chrome(options=options)

    snow_info = get_snow_info("{{ snow_id }}")
    create_jira(snow_info)
