#!/usr/local/bin/python3
### Maintained by carias@redhat.com

import time, os.path
import re

from selenium import webdriver
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.by import By

options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument("--window-size=1200,800")
options.add_argument("--user-data-dir={{ ansible_env.HOME}}/.config/google-chrome/intercom-profile")

# Define the webdriver to use.
# Chrome webdriver
driver = webdriver.Chrome(options=options)

# Go to the website
def go_to_main_site():
    driver.get("https://redhat.service-now.com/nav_to.do?uri=%2Fx_redha_red_hat_tr_x_red_hat_training_list.do%3Fsysparm_clear_stack%3Dtrue%26sysparm_query%3Dassigned_toISEMPTY%255Eassignment_group%253D974cb3e01bc31c50c57c3224cc4bcbfe%255EstateIN1%252C2%252C-2%252C14%252C13%252C15%252C16%252C17%252C18%255Eactive%253Dtrue%26sysparm_first_row%3D1%26sysparm_view%3D")
    time.sleep(2)

def login():
    try:
            # RH SSO
            driver.find_element("xpath", '//*[@id="username"]').send_keys("{{ username }}")
            counter = os.popen("cat {{ playbook_dir }}/rol-lab-persistence/counter").read()
            token = os.popen("oathtool --hotp {{ secret }} -c " + str(counter)).read().replace('\n', '')
            driver.find_element("xpath", '//*[@id="password"]').send_keys(str("{{ pin }}").replace('\n', '') + str(token).replace('\n', ''))
            driver.find_element("xpath", '//*[@id="submit"]').click()

            # Increment SSO token counter
            counter = int(counter) + 1
            os.popen("echo " + str(counter) + " > {{ playbook_dir }}/rol-lab-persistence/counter")

    except:
        print("An exception occurred while accepting during login")

def intercom_login():
    try:
        WebDriverWait(driver, 3).until(EC.element_to_be_clickable(
            (By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div/div[3]/a/div[2]'))).click()
        WebDriverWait(driver, 3).until(EC.element_to_be_clickable(
                (By.XPATH, '//*[@id="view_container"]/div/div/div[2]/div/div[1]/div/form/span/section/div/div/div/div/ul/li[1]/div/div[1]/div/div[2]/div[2]'))).click()

        # RH SSO
        WebDriverWait(driver, 5).until(EC.element_to_be_clickable(
                (By.XPATH, '//*[@id="username"]'))).send_keys("{{ username }}")
        counter = os.popen("cat {{ playbook_dir }}/rol-lab-persistence/counter").read()
        token = os.popen("oathtool --hotp {{ secret }} -c " + str(counter)).read().replace('\n', '')
        WebDriverWait(driver, 5).until(EC.element_to_be_clickable(
                (By.XPATH, '//*[@id="password"]'))).send_keys(str("{{ pin }}").replace('\n', '') + str(token).replace('\n', ''))
        WebDriverWait(driver, 5).until(EC.element_to_be_clickable(
                (By.XPATH, '//*[@id="submit"]'))).click()

        # Increment SSO token counter
        counter = int(counter) + 1
        os.popen("echo " + str(counter) + " > {{ playbook_dir }}/rol-lab-persistence/counter")

    except:
        print("An exception occurred while accepting during login")


def search_name(email):
    # If there is @ is a customer email
    if "@" in email:
        driver.execute_script("window.open('');")
        driver.switch_to.window(driver.window_handles[1])
        driver.get("https://app.intercom.com/a/apps/jeuow7ss/users/segments/all-users:eyJwcmVkaWNhdGVzIjpbeyJhdHRyaWJ1dGUiOiJyb2xlIiwiY29tcGFyaXNvbiI6ImVxIiwidHlwZSI6InJvbGUiLCJ2YWx1ZSI6InVzZXJfcm9sZSJ9LHsiYXR0cmlidXRlIjoiZW1haWwiLCJjb21wYXJpc29uIjoiZXEiLCJ0eXBlIjoic3RyaW5nIiwidmFsdWUiOiIifV19")
        intercom_login()

        WebDriverWait(driver, 30).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div/div[1]/div/div[4]/div/div[2]/div/div[2]/div[2]/div/div/div/span/div[2]/span/div/div/div/div/div'))).click()
        WebDriverWait(driver, 30).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div/div/div[1]/div/div/div/input'))).send_keys(email)
        WebDriverWait(driver, 30).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div/div/div[2]/a'))).click()
        time.sleep(2)
        first_name = str(driver.find_element("xpath", '/html/body/div[1]/div/div[1]/div/div[4]/div/div[2]/div/div[2]/div[3]/div[1]/div/div[1]/table/tbody/tr/td[1]/span/div/span/a').text).split(" ")[0]

    # Else is a redhatter
    else:
        driver.execute_script("window.open('');")
        driver.switch_to.window(driver.window_handles[1])
        driver.get('https://rover.redhat.com/people/profile/' + email)
        WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//*[@id="verifyUserButton"]')))
        full_name = driver.find_element("xpath", '//*[@id="userFullName"]').text
        first_name = str(full_name).split(" ")[0]

    driver.close()
    driver.switch_to.window(driver.window_handles[0])
    time.sleep(1)

    return first_name

def auto_assign_tickets():
    try:
        while True:

            WebDriverWait(driver, 40).until(EC.frame_to_be_available_and_switch_to_it((By.XPATH, '//*[@id="gsft_main"]')))

            # Select the first item on the list
            WebDriverWait(driver, 40).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/span/div/div[5]/table/tbody/tr/td/div/table/tbody/tr[1]/td[3]/a'))).click()

            # Fill the boxes and save
            Select(WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="x_redha_red_hat_tr_x_red_hat_training.state"]')))).select_by_visible_text('In Progress')
            Select(WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="x_redha_red_hat_tr_x_red_hat_training.category"]')))).select_by_visible_text('RHLS Basic External Support')
            time.sleep(0.5)
            Select(WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="x_redha_red_hat_tr_x_red_hat_training.subcategory"]')))).select_by_visible_text('Course Content')
            time.sleep(0.5)
            Select(WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="x_redha_red_hat_tr_x_red_hat_training.issue"]')))).select_by_visible_text('Other')

            # Get description
            description = driver.find_element("xpath", '//*[@id="sys_original.x_redha_red_hat_tr_x_red_hat_training.description"]').get_attribute('value')

            # Extract user name from description and fill in the field
            try:
                user_name = re.findall("User Name:.*", description)
                name = user_name[0].split(":  ")[1]

                # Extract user email from description and fill in the field
                user_email = re.findall("User Email:.*", description)
                try:
                    email = re.findall("([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)", user_email[0])[0]
                    first_name = search_name(email)
                except:
                    first_name = search_name(name.replace(" ", ""))
                    email = name.replace(" ", "") + "@redhat.com"

                WebDriverWait(driver, 30).until(EC.frame_to_be_available_and_switch_to_it((By.XPATH, '//*[@id="gsft_main"]')))

                # Fill in name
                driver.find_element("xpath", '//*[@id="x_redha_red_hat_tr_x_red_hat_training.contact_source"]').clear()
                driver.find_element("xpath", '//*[@id="x_redha_red_hat_tr_x_red_hat_training.contact_source"]').send_keys(first_name)

                # Fill in email
                driver.find_element("xpath", '//*[@id="x_redha_red_hat_tr_x_red_hat_training.u_email_from_address"]').clear()
                driver.find_element("xpath", '//*[@id="x_redha_red_hat_tr_x_red_hat_training.u_email_from_address"]').send_keys(email)

            except:
                print("Failed to fill in name or email")

            # Get the summary and fill in the short description
            try:
                short_description = re.findall("Description:.*", description)
                summary = short_description[0].split(":  ")[1]
                driver.find_element("xpath", '//*[@id="x_redha_red_hat_tr_x_red_hat_training.short_description"]').clear()
                driver.find_element("xpath", '//*[@id="x_redha_red_hat_tr_x_red_hat_training.short_description"]').send_keys(summary[:100] + "...")
            except:
                print("Failed to fill short_description")

            # If it's a feedback ticket, reply to the user
            try:
                if name:
                    ack_response = "Hi " + first_name + """,

Thanks for submitting your feedback to the Learner Experience Team.
            
We are reviewing this issue and will get back to you as soon as possible.

Best Regards,
Carlos Arias
Red Hat Learner Experience Team"""

                    driver.find_element("xpath", '//*[@id="x_redha_red_hat_tr_x_red_hat_training.comments"]').send_keys(ack_response)
            except:
                print("Failed to reply to the user")

            # Clear values
            try:
                del user_name, name, first_name, user_email, email
            except:
                print("No variables to delete")

            # Save
            WebDriverWait(driver, 30).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="sysverb_update_and_stay"]'))).click()

            # Go back to "RHT - Unassigned T2"
            driver.switch_to.default_content()
            WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[5]/div/div/nav/div/div[3]/div/div/magellan-favorites-list/ul/li[3]/div/div[1]/a'))).click()

    except:
        print("No more items to assign")

# Main
go_to_main_site()
login()
auto_assign_tickets()
driver.quit()
