#!/usr/local/bin/python3
### Maintained by carias@redhat.com

import time, sys, os.path
import pickle
from selenium import webdriver
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By

options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument("--window-size=800,600")
options.add_argument("--user-data-dir=/home/carias/.config/google-chrome/intercom-profile")
options.add_argument("--enable-extensions")

# Define the webdriver to use.
# Chrome webdriver
driver = webdriver.Chrome(options=options)


# Go to the website
def go_to_main_site():
    driver.get("https://app.intercom.com/a/apps/jeuow7ss")
    time.sleep(2)

def login():
    try:
        WebDriverWait(driver, 10).until(EC.element_to_be_clickable(
            (By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div/div[3]/a/div[2]'))).click()
        try:
            WebDriverWait(driver, 3).until(EC.element_to_be_clickable(
                (By.XPATH, '//*[@id="view_container"]/div/div/div[2]/div/div[1]/div/form/span/section/div/div/div/div/ul/li[1]/div/div[1]/div/div[2]/div[2]'))).click()
        except:
            # Google prompt
            driver.find_element("xpath", '//*[@id="identifierId"]').send_keys("carias@redhat.com")
            driver.find_element("xpath", '/html/body/div[1]/div[1]/div[2]/div/div[2]/div/div/div[2]/div/div[2]/div/div[1]/div/div/button/span').click()
            time.sleep(2)

            # RH SSO
            driver.find_element("xpath", '//*[@id="username"]').send_keys("carias")
            counter = os.popen("cat /home/carias/Documents/rol-lab-persistence/counter").read()
            token = os.popen("oathtool --hotp {{ secret }} -c " + str(counter)).read().replace('\n', '')
            driver.find_element("xpath", '//*[@id="password"]').send_keys(str("{{ pin }}").replace('\n', '') + str(token).replace('\n', ''))
            driver.find_element("xpath", '//*[@id="submit"]').click()

            # Increment SSO token counter
            counter = int(counter) + 1
            os.popen("echo " + str(counter) + " > /home/carias/Documents/rol-lab-persistence/counter")

    except:
        print("An exception occurred while accepting during login")


def intercom_change_status(status):
    try:
        WebDriverWait(driver, 90).until(EC.element_to_be_clickable(
            (By.XPATH, '/html/body/div[1]/div[1]/div[1]/div/div/div/div/div[1]/div/div/div[3]/div/div'))).click()

        # Change status to Away, look for Active status
        if status == "Away":
            WebDriverWait(driver, 5).until(EC.element_to_be_clickable(
                (By.XPATH, '//*[text()="Active"]')))
            WebDriverWait(driver, 90).until(EC.element_to_be_clickable(
            (By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div/div/div[1]/div[2]/div/div/button/span'))).click()

        else:
            WebDriverWait(driver, 5).until(EC.element_to_be_clickable(
                (By.XPATH, '//*[text()="Away"]')))
            WebDriverWait(driver, 90).until(EC.element_to_be_clickable(
            (By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div/div/div[1]/div[2]/div/div/button/span'))).click()

    except:
        print("An exception occurred while activating intercom")


# Main

go_to_main_site()
login()
intercom_change_status(status="{{ status }}")
driver.quit()
