#!/usr/local/bin/python3
### Maintained by carias@redhat.com

import time, sys, os.path
import pickle
from selenium import webdriver
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By

#options = webdriver.ChromeOptions()
#options.add_argument('--ignore-certificate-errors')
#options.add_argument('headless')
#options.add_argument('--no-sandbox')
#options.add_argument("--window-size=1920,1080")
#options.add_argument("--user-data-dir=~/.config/google-chrome/Ansible-profile-create")
#options.add_argument("--enable-extensions")

## Define the webdriver to use.
#driver = webdriver.Chrome(executable_path="/usr/bin/chromedriver", chrome_options=options)

## Firefox webdriver
driver = webdriver.Firefox()

driver.install_addon(os.path.expanduser(format(os.getcwd()) + '/copy_on_select-1.0-an+fx.xpi'), temporary=True)
driver.maximize_window()

# Go to the website
def go_to_main_site(lab_environment):
    driver.get('https://rol.redhat.com/' + lab_environment + '/app')


def go_to_course(lab_environment, course_id):
    driver.get('https://rol.redhat.com/' + lab_environment + '/app/courses/' + course_id)


def login():

    try:
        driver.find_element("xpath", "/html/body/div[1]/main/div/div/div[1]/div[2]/div[2]/div/section[1]/form/div[1]/input").send_keys("{{ rh_username }}@redhat.com")
        WebDriverWait(driver, 10).until(EC.element_to_be_clickable(
            (By.XPATH, '//*[@id="login-show-step2"]'))).click()

        WebDriverWait(driver, 10).until(EC.element_to_be_clickable(
            (By.XPATH, '//*[@id="rh-sso-flow"]'))).click()
        time.sleep(2)
    
        driver.find_element("xpath", '//*[@id="username"]').send_keys("carias")
        driver.find_element("xpath", '//*[@id="password"]').send_keys("{{ pin }}{{ token.stdout }}")
    
        driver.find_element("xpath", '//*[@id="submit"]').click()

    except:
        print("An exception occurred while accepting during login")


def accept_cookies():
    try:
        WebDriverWait(driver,10).until(EC.frame_to_be_available_and_switch_to_it((By.XPATH,'//iframe[@title="TrustArc Cookie Consent Manager"]')))
        time.sleep(1)
        WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.XPATH,"//a[@class='call'][text()='Agree and proceed with standard settings']"))).click()
        driver.refresh()
    except:
        print("An exception occurred while accepting cookies")


def create_lab(lab_environment, course_id):
    try:
        WebDriverWait(driver, 30).until(EC.element_to_be_clickable(
            (By.XPATH, '//*[@id="course-tabs-tab-8"]/span[2]'))).click()
        WebDriverWait(driver, 10).until(EC.element_to_be_clickable(
            (By.XPATH, '//*[text()="Create"]'))).click()

    except:
        print(
            "An exception occurred during lab creation in " + lab_environment + " environment and course " + course_id)

def increase_lifespan(lab_environment, course_id):
    try:
        WebDriverWait(driver, 30).until(EC.element_to_be_clickable(
            (By.XPATH, '//*[@id="course-tabs-tab-8"]/span[2]'))).click()

        increase_lifespan = WebDriverWait(driver, 3).until(EC.element_to_be_clickable(
            (By.XPATH, '//*[@id="tab-course-lab-environment"]/div/table/tr[2]/td[2]/button')))

        for i in range(30):
            increase_lifespan.click()
    except:
        print("An exception occurred during lifespan extension in " + lab_environment + " environment and course " + course_id)



## Main

go_to_main_site("{{ lab_environment }}")
accept_cookies()
login()

{% for course in course_id -%}

go_to_course("{{ lab_environment }}", "{{ course }}")
create_lab("{{ lab_environment }}", "{{ course }}")
increase_lifespan("{{ lab_environment }}", "{{ course }}")

{% endfor -%}

#driver.quit()
