#!/usr/local/bin/python3
### Maintained by carias@redhat.com

import time, sys, os.path
import pickle
from selenium import webdriver
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By

## Chrome webdriver
#options = webdriver.ChromeOptions()
#options.add_argument('--ignore-certificate-errors')
##options.add_argument('headless')
##options.add_argument('--no-sandbox')
#options.add_argument("--window-size=1920,1080")
##options.add_argument("--user-data-dir=/home/carias/.config/google-chrome/Ansible-profile-start")
##options.add_argument("--enable-extensions")

## Define the webdriver to use.
driver = webdriver.Firefox()

driver.install_addon(os.path.expanduser(format(os.getcwd()) + '/copy_on_select-1.0-an+fx.xpi'), temporary=True)
driver.maximize_window()


# Go to the website
def go_to_main_site(lab_environment):
    driver.get('https://rol.redhat.com/' + lab_environment + '/app')
    load_cookies()
    time.sleep(2)

def go_to_course(lab_environment, course_id):
    driver.get('https://rol.redhat.com/' + lab_environment + '/app/courses/' + course_id)
    time.sleep(5)

def login():

    try:
        userid_login_box = driver.find_element_by_xpath("/html/body/div[1]/main/div/div/div[1]/div[2]/div[2]/div/section[1]/form/div[1]/input")
        userid_login_box.send_keys("{{ rh_username }}@redhat.com")
        
        next_button = driver.find_element_by_xpath('//*[@id="login-show-step2"]')
        next_button.click()
        time.sleep(1)
        
        next_button = driver.find_element_by_xpath('//*[@id="rh-sso-flow"]')
        next_button.click()
        time.sleep(1)
    
        userid_login_box = driver.find_element_by_xpath('//*[@id="username"]')
        userid_login_box.send_keys("carias")

        password_login_box = driver.find_element_by_xpath('//*[@id="password"]')
        password_login_box.send_keys("{{ pin }}{{ token.stdout }}")
    
        login_button = driver.find_element_by_xpath('//*[@id="submit"]')
        login_button.click()

    except:
        print("An exception occurred while login")

def load_cookies():
    try:
        cookies = pickle.load(open("cookies.pkl", "rb"))
        for cookie in cookies:
            driver.add_cookie(cookie)
    except:
        print("No cookies file")


def save_cookies():
    try: 
        pickle.dump( driver.get_cookies() , open("cookies.pkl","wb"))
    except:
        print("Failed saving cookies")

def accept_cookies():
    try:

        WebDriverWait(driver,5).until(EC.frame_to_be_available_and_switch_to_it((By.XPATH,'//iframe[@title="TrustArc Cookie Consent Manager"]')))
        WebDriverWait(driver,5).until(EC.element_to_be_clickable((By.XPATH,"//a[@class='call'][text()='Agree and proceed with standard settings']"))).click()

    except:
        print("An exception occurred while accepting cookies")

def create_lab(lab_environment, course_id):
    try:    
        labs_tab = driver.find_element_by_xpath('//*[@id="course-tabs-tab-8"]/span[2]')
        labs_tab.click()
        time.sleep(2)
    
        create_lab = driver.find_element_by_xpath("//*[text()='Create']")
        create_lab.click()
    
        time.sleep(15)
    except:
        print("An exception occurred during lab creation in " + lab_environment + " environment and course " + course_id)

def start_lab(lab_environment, course_id):
    try:
        save_cookies()
        labs_tab = driver.find_element_by_xpath('//*[@id="course-tabs-tab-8"]/span[2]')
        labs_tab.click()
        time.sleep(2)

        start_button = driver.find_element_by_xpath("//*[text()='Start']")
        start_button.click()

    except:
        print("An exception occurred during lab start in " + lab_environment + " environment and course " + course_id)
        create_lab(lab_environment, course_id)


def increase_autostop(lab_environment, course_id):
    try:
        labs_tab = driver.find_element_by_xpath('//*[@id="course-tabs-tab-8"]/span[2]')
        labs_tab.click()
        time.sleep(2)

        increase_autostop = driver.find_element_by_xpath('//*[@id="tab-course-lab-environment"]/div/table/tr[1]/td[2]/button')

        for i in range(30):
            increase_autostop.click()
    except:
        print("An exception occurred during lifespan extension in " + lab_environment + " environment and course " + course_id)

def increase_lifespan(lab_environment, course_id):
    try:
        labs_tab = driver.find_element_by_xpath('//*[@id="course-tabs-tab-8"]/span[2]')
        labs_tab.click()
        time.sleep(2)

        increase_lifespan = driver.find_element_by_xpath('//*[@id="tab-course-lab-environment"]/div/table/tr[2]/td[2]/button')

        for i in range(30):
            increase_lifespan.click()
    except:
        print("An exception occurred during lifespan extension in " + lab_environment + " environment and course " + course_id)


## Main

go_to_main_site("{{ lab_environment }}")
login()
accept_cookies()

{% for course in course_id -%}

go_to_course("{{ lab_environment }}", "{{ course }}")
start_lab("{{ lab_environment }}", "{{ course }}")
increase_autostop("{{ lab_environment }}", "{{ course }}")
increase_lifespan("{{ lab_environment }}", "{{ course }}")

{% endfor -%}

#driver.quit()
