{
  "id": "e7058acc-c0cf-476d-b690-df22fd8d7d81",
  "version": "2.0",
  "name": "lab-permanence",
  "url": "https://sso.redhat.com",
  "tests": [{
    "id": "1172f96d-1af3-4db7-861a-ef55c0d59fbb",
    "name": "{{ item }}",
    "commands": [{
      "id": "eb3a4c96-b0d7-4f7d-9b4d-acd0d9487b1f",
      "comment": "",
      "command": "open",
      "target": "https://rol.redhat.com/{{ lab_environment }}/app/courses/{{ item }}",
      "targets": [],
      "value": ""
    }, {
      "id": "b828362d-61c5-4a3d-9439-64304c5f6969",
      "comment": "",
      "command": "pause",
      "target": "2500",
      "targets": [],
      "value": ""
    }, {
      "id": "c8ec568b-4e56-41d2-a66f-103defc45d05",
      "comment": "",
      "command": "type",
      "target": "id=username-verification",
      "targets": [
        ["id=username-verification", "id"],
        ["name=username", "name"],
        ["css=#username-verification", "css:finder"],
        ["xpath=//input[@id='username-verification']", "xpath:attributes"],
        ["xpath=//form[@id='rh-username-verification-form']/div/input", "xpath:idRelative"],
        ["xpath=//input", "xpath:position"]
      ],
      "value": "{{ rh_username }}"
    }, {
      "id": "9be0493c-db7e-416e-90c0-c67984fd5c2a",
      "comment": "",
      "command": "click",
      "target": "id=login-show-step2",
      "targets": [
        ["id=login-show-step2", "id"],
        ["css=#login-show-step2", "css:finder"],
        ["xpath=//button[@id='login-show-step2']", "xpath:attributes"],
        ["xpath=//form[@id='rh-username-verification-form']/div[2]/button", "xpath:idRelative"],
        ["xpath=//div[2]/button", "xpath:position"],
        ["xpath=//button[contains(.,'Siguiente')]", "xpath:innerText"]
      ],
      "value": ""
    }, {
      "id": "12347e4e-dd8f-4483-b517-333880b16d77",
      "comment": "",
      "command": "pause",
      "target": "2500",
      "targets": [],
      "value": ""
    }, {
      "id": "b126d066-6ccb-4e71-8cbe-4743dad0cbac",
      "comment": "",
      "command": "type",
      "target": "id=password",
      "targets": [
        ["id=password", "id"],
        ["name=password", "name"],
        ["css=#password", "css:finder"],
        ["xpath=//input[@id='password']", "xpath:attributes"],
        ["xpath=//form[@id='rh-password-verification-form']/div[2]/div[2]/input", "xpath:idRelative"],
        ["xpath=//div[2]/div[2]/input", "xpath:position"]
      ],
      "value": "{{ rh_password }}"
    }, {
      "id": "6a17ad67-9a0f-4465-b92a-6c61f028a8cf",
      "comment": "",
      "command": "click",
      "target": "id=rh-password-verification-submit-button",
      "targets": [
        ["id=rh-password-verification-submit-button", "id"],
        ["css=#rh-password-verification-submit-button", "css:finder"],
        ["xpath=//button[@id='rh-password-verification-submit-button']", "xpath:attributes"],
        ["xpath=//form[@id='rh-password-verification-form']/div[3]/button", "xpath:idRelative"],
        ["xpath=//div[3]/button", "xpath:position"],
        ["xpath=//button[contains(.,'Iniciar sesión')]", "xpath:innerText"]
      ],
      "value": ""
    }, {
      "id": "aba2eec7-aa6b-4a5c-b341-2703b86be84c",
      "comment": "",
      "command": "pause",
      "target": "5000",
      "targets": [],
      "value": ""
    }, {
      "id": "43bb663a-8e41-4a68-b462-15933a84cc6b",
      "comment": "",
      "command": "pause",
      "target": "2000",
      "targets": [],
      "value": ""
    }, {
      "id": "6b6b2120-4207-43a2-a29e-161fc66847b3",
      "comment": "",
      "command": "click",
      "target": "id=course-tabs-tab-8",
      "targets": [
        ["css=#course-tabs-tab-8 > .hidden-xs", "css:finder"],
        ["xpath=//a[@id='course-tabs-tab-8']/span[2]", "xpath:idRelative"],
        ["xpath=//li[3]/a/span[2]", "xpath:position"],
        ["xpath=//span[contains(.,'Lab Environment')]", "xpath:innerText"]
      ],
      "value": ""
    }, {
      "id": "1bb4dc50-1466-409c-b2ea-44a6a8133cde",
      "comment": "",
      "command": "click",
      "target": "css=.has-spinner:nth-child(1)",
      "targets": [
        ["css=.has-spinner:nth-child(1)", "css:finder"],
        ["xpath=//button[@type='button']", "xpath:attributes"],
        ["xpath=//div[@id='tab-course-lab-environment']/div/div[3]/button", "xpath:idRelative"],
        ["xpath=//div[3]/button", "xpath:position"]
      ],
      "value": ""
    }, {
      "id": "ec7400eb-af31-4951-b2a2-0011634b3b29",
      "comment": "",
      "command": "click",
      "target": "css=.modal-footer > .btn-primary",
      "targets": [
        ["css=.modal-footer > .btn-primary", "css:finder"],
        ["xpath=(//button[@type='button'])[33]", "xpath:attributes"],
        ["xpath=//div[2]/button", "xpath:position"]
      ],
      "value": ""
    }, {
      "id": "75be864e-6d36-4764-9360-31c664fdb05c",
      "comment": "",
      "command": "click",
      "target": "css=span > span",
      "targets": [
        ["css=span > span", "css:finder"],
        ["xpath=//a[@id='avatar']/div/div/div/span/span", "xpath:idRelative"],
        ["xpath=//span/span", "xpath:position"]
      ],
      "value": ""
    }, {
      "id": "1fa13e03-37b5-4081-be60-248a3f287d72",
      "comment": "",
      "command": "click",
      "target": "linkText=Logout",
      "targets": [
        ["linkText=Logout", "linkText"],
        ["css=.open li:nth-child(4) > a", "css:finder"],
        ["xpath=//a[contains(text(),'Logout')]", "xpath:link"],
        ["xpath=//div[@id='app']/header/div/div/div/menu[2]/ul/li[4]/ul/li[4]/a", "xpath:idRelative"],
        ["xpath=(//a[contains(@href, '#')])[23]", "xpath:href"],
        ["xpath=//li[4]/ul/li[4]/a", "xpath:position"],
        ["xpath=//a[contains(.,'Logout')]", "xpath:innerText"]
      ],
      "value": ""
    }]
  }],
  "suites": [{
    "id": "e1f276bd-fb4b-43bc-b498-a135b1b9b4e6",
    "name": "Default Suite",
    "persistSession": false,
    "parallel": false,
    "timeout": 300,
    "tests": ["1172f96d-1af3-4db7-861a-ef55c0d59fbb"]
  }],
  "urls": ["https://sso.redhat.com/"],
  "plugins": []
}
