- name: ROL labs launcher
  hosts: localhost
  vars_files:
    - vars/credentials.yml
    - vars/defaults.yml
  vars:
    lab_environment:  rol 	# Valid options are: rol / rol-stage
  tasks:
    - name: Generate selenium script
      template:
        src: templates/operate-lab.py.j2
        dest: "/tmp/{{ action }}-{{ course_id[0] }}-{{ lab_environment }}.py"
      tags:
        - generate_template

    - name: Clone git repo for qa
      ansible.builtin.git:
        repo: "git@github.com:RedHatTraining/{{ course_id[0] | split('-') | first | split('ea') | first }}.git"
        dest: "files/{{ course_id[0] | split('-') | first | split('ea') | first| lower }}"
      when: '"qa" == action'
