- name: ROL labs launcher
  hosts: localhost
  vars_files:
    - credentials.yml
    - defaults.yml
  vars:
    - lab_environment: rol 	# Valid options are: rol / rol-stage
    - course_id:            # Get the course_id from the URL, such https://rol.redhat.com/rol/app/courses/rh124-8.2
      - rh124-9.0
      - rh134-9.0
      - rh199-9.0
      - rh294-9.0
      - do180-4.10
      - do188-4.10
      - do280-4.10
      - do288-4.10
      - do374-2.2
      - do467-2.2
      - do447-2.8
        
  tasks:
    - name: Generate selenium script
      template:
        src: templates/operate-lab.py.j2
        dest: "/tmp/{{ action }}-{{ item }}-{{ lab_environment }}.py"
      loop: "{{ course_id }}"

      tags:
        - generate_template

    - name: Clone git repo for qa
      ansible.builtin.git:
        repo: "git@github.com:RedHatTraining/{{ item | split('-') | first }}.git"
        dest: "files/{{ item | split('-') | first | lower }}"
      loop: "{{ course_id }}"
      when: '"qa" == action'
      tags: test


    - name: Running scripts
      shell: '/usr/bin/python3 /tmp/{{ action }}-{{ item }}-{{ lab_environment }}.py'
      loop: "{{ course_id }}"
      when: '"qa" != action'
