- name: ROL labs installer
  hosts: localhost
  #become: true

  tasks:
    - name: Download selenium drivers
      ansible.builtin.get_url:
        url: "{{ item }}"
        dest: "/tmp/{{ item | split('/')| last }}"
      loop:
        - "https://chromedriver.storage.googleapis.com/113.0.5672.63/chromedriver_linux64.zip"

    - name: Extract selenium drivers into /usr/bin/
      ansible.builtin.unarchive:
        src: "/tmp/{{ item }}"
        dest: "/usr/bin/"
      loop:
        - chromedriver_linux64.zip

    - name: remove /tmp files
      ansible.builtin.file:
        path: "/tmp/{{ item }}"
        state: absent
      loop:
        - chromedriver_linux64.zip

    - name: Install wrapper scripts into /usr/bin/
      ansible.builtin.template:
        src: "./templates/wrapper-scripts/{{ item }}"
        dest: "/usr/bin/{{ item | splitext | first }}"
        mode: 0755
      loop:
        - start.j2
        - delete.j2
        - recreate.j2
        - impersonate.j2
        - qa.j2
        - jira.j2
        - snow.j2
      tags: scripts
