- name: ROL labs installer
  hosts: localhost
  become: true

  tasks:
    - name: Ensure dependencies are installed.
      ansible.builtin.package:
        name:
          - python3-pip
          - firefox.x86_64
          - chromium.x86_64
          - chromedriver.x86_64
        state: present
      tags: install
  
    - name: Install Selenium with pip
      ansible.builtin.pip:
        name: selenium
        executable: pip3
      tags: install
      
    - name: Download selenium drivers
      ansible.builtin.get_url:
        url: "{{ item }}"
        dest: "/tmp/{{ item | split('/')| last }}"
      loop:
        - "https://github.com/mozilla/geckodriver/releases/download/v0.36.0/geckodriver-v0.36.0-linux64.tar.gz"
      tags: drivers

    - name: Extract selenium drivers into /usr/bin/
      ansible.builtin.unarchive:
        src: "/tmp/{{ item }}"
        dest: "/usr/bin/"
      loop:
        - geckodriver-v0.36.0-linux64.tar.gz
      tags: drivers

    - name: Install Ollama
      ansible.builtin.shell: curl -fsSL https://ollama.com/install.sh | sh
      args:
        creates: /usr/bin/ollama
      tags: install
      
