- name: ROL labs launcher
  hosts: localhost
  vars_files: vars/credentials.yml
  vars:
    rh_username: "{{ username | default('') }}"
    rh_password: "{{ password | default('') }}"
    counter: 0
    status: "Away"
    debug_mode: false
        
  tasks:
    - name: Generate selenium script
      template:
        src: templates/snow-auto-assign.py.j2
        dest: "/app/snow-{{ team_acronim }}.py"